---
layout: home
title: "Publications"
---

<div class="row">
  <div class="large-12 columns">
    <hr>
    <h4>Thesis manuscript</h4>
    <ol>
      {% for article in site.data.articles %}{% if article.type == "thesis" %}
        <li>
        {% include title.html %}<br>
        {% include authors.html %} at {{article.address}},
        {{article.date | date: "%B %Y"}}.
        </li>
      {% endif %}{% endfor %}
    </ol>

    <hr>
    <h4>Book chapter</h4>
    <ol>
      {% for article in site.data.articles %}{% if article.type == "chapter" %}
        <li>
        {% include title.html %}<br>
        {% include authors.html %}<br>
        in {{article.booktitle}}, {{article.publisher}}, {{article.date | date: "%Y"}}.
        </li>
      {% endif %}{% endfor %}
    </ol>

    <hr>
    <h4>International conference articles</h4>
    <ol>
      {% for article in site.data.articles %}{% if article.type == "conference" %}
        <li>
        {% include title.html %}<br>
        {% include authors.html %}<br>
        in {{article.booktitle}}, {{article.address}}, {{article.date | date: "%B %Y"}}.
        </li>
      {% endif %}{% endfor %}
    </ol>

    <hr>
    <h4>National conference articles</h4>
    <ol>
      {% for article in site.data.articles %}{% if article.type == "conferencefr" %}
        <li>
        {% include title.html %}<br>
        {% include authors.html %}<br>
        in {{article.booktitle}}, {{article.address}}, {{article.date | date: "%B %Y"}}.
        </li>
      {% endif %}{% endfor %}
    </ol>
    <hr>

    <h4>Research reports</h4>
    <ol>
      {% for article in site.data.articles %}{% if article.type == "report" %}
        <li>
        {% include title.html %}<br>
        {% include authors.html %}<br>
        in {{article.booktitle}}, {{article.date | date: "%B %Y"}}.
        </li>
      {% endif %}{% endfor %}
    </ol>

    <hr>
    <h4>Posters and oral presentations</h4>
    <ol>
      {% for article in site.data.articles %}{% if article.type == "poster" or article.type == "presentation" %}
        <li>
        {% include title.html %}<br>
        {% include authors.html %}<br>
        in {{article.booktitle}}, {{article.address}}, {{article.date | date: "%B %Y"}}.
        </li>
      {% endif %}{% endfor %}
    </ol>
  </div>
</div>

