<ul class="pricing-table">
  <li class="title">Contact</li>
  <li class="price">Mickaël Dardaillon</li>
  <li class="description">Ph.D.</li>
  <li class="bullet-item">
  National Instruments</br>
  11500 N Mopac Expy</br>
  Austin 78759</br>
  Texas
  </li>
  <li class="bullet-item">
  <a href="mailto:mickael.dardaillon@gmail.com">mickael.dardaillon@gmail.com</a>
  </li>
  <li class="bullet-item">
  <a href="http://dardarel.github.io">Web page</a>
  </li>
  <li class="bullet-item">
  <a href="https://www.linkedin.com/in/mickaeldardaillon" target="_blank">LinkedIn</a>
  </li>
  <li class="bullet-item">
  <a href="http://scholar.google.fr/citations?user=pi3789UAAAAJ" target="_blank">Google Scholar</a>
  </li>
  <li class="bullet-item">
  <a href="./cv.pdf" target="_blank">Curriculum Vitae (PDF)</a>
  </li>
</ul>
